<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <!--<add key="Url" value="http://dynamicipservice-walkon.chinacloudsites.cn/default/RegisterIP"/>-->
      <add key="Url" value="http://localhost:2715/default/RegisterIP"/>
      <add key="Key" value=""/>
      <add key="interval" value="10000"/>
    </appSettings>
</configuration>
